@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gulzar', serif;
    
}
body {
    background-image: url(img/fundo.jpg);
    background-size: cover;  /* ocupa todo o espaço disponível */
    background-repeat: no-repeat;  /* Do not repeat the image */
    background-attachment: fixed;  /* Para que a imagem fique fixa */
    font-family: 'Gulzar', serif;
    font-size: 16px;
    color: #fff;  /* Cor do texto */
    margin: 0;  
    padding: 0;  
    margin: 30px;
    line-height: 1.5;
    color: rgb(77, 80, 80)
    
    
}

.top {

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #d34191;
}

#ingrid {
    display: inline-block;
    width: 25%;
    background-color: #fff;
    border: 1px solid #d34191;
    border-radius: 200%;
    padding: 10px;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

button {
    background-color: #d34191;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}	
.apresentacao {
    background-color: #fff;
    padding: 20px;
    margin: 50px;
    border: 1px solid #d34191;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #d34191;
    line-height: 30px;
    font-style: justify;
}

.assinatura {
    background-color: none;
    padding: 20px;
    margin: 50px;
    border: 1px solid #d34191;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #d34191;
    line-height: 30px;
    word-spacing: 4px;
    font-style: justify;
    object-fit: fill;
}
.container-footer {
    border-radius: 10px;
    box-shadow: 0px 0px 10px #d34191;

}
a {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 600px) {
    .top {
        width: 100%;
    }
    #ingrid {
        width: 100%;
    }
    .apresentacao {
        margin: 20px;
    }
    .assinatura {
        margin: 30px;
        width: 90%;
    }
}